@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    background: #DDDDDD
}

.body {
    color: #011d4d;
    font-family: 'Montserrat', sans-serif;
    width:94%;
    margin: 0 3%;
}

.header-message {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: auto;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}

.header-message.warning {
    background-color: rgba(197, 176, 19, 0.7);
}

.header-message.error {
    background-color: rgba(255,0,0, 0.7);
}

.controls {
    position: absolute;
    width:auto;
    right: 0;
    bottom: 0;

}

.controls .button {
    display:inline-block;
    text-align: center;
    margin: 0 1px;
}

.controls .button span {
    cursor: pointer;
    line-height: 40px;
    background-color: #888888;
    color: #FFFFFF;
    width:40px;
}